.grid-data-penunjang {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0.1rem;
}

.data-pengkajian-pasien {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
}

.tabel-pasien-sudah-diperiksa {
    position: absolute;
    top: 100%;
    right: -100%;
}

.tabel-pasien-sudah-diperiksa.active {
    position: relative;
    right: 0;
    top: 0;
}

#obat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

#buttonSudahDiperiksa h4 {
    color: white !important;
    font-size: 1rem;
}

@media screen and (min-width: 1000px) {
    .hasil-pemeriksaan-pasien {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.1rem;
    }
}

